/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark);
  }
